#container {
  width: 1440px;
  font-family: Offside,'Ubuntu Condensed', arial;
  background-color: black;
}
#landing {
  width: 700px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
}
#metro {
  color: #00FFFF;
}
h1 {
  color: white;
  font-size: 50px;
  display: block;
}
.navbar, form input {
  font-size: 17px;
}
footer {
  color: gray;
  font-size: 15px;
  margin-left: 30px;
}
img {
  width: 110px;
  height: 110px;
  display: block;
}
/*#events {
  color: white;
  display: block;
}*/
.displayName {
  color: white;
  display: block;
}
.catHeader {
	color: #00FFFF;
	font-size: 50px;
	margin-top: 2em;
	left:50%;
	letter-spacing: 7px;
  text-align: center;
}
#categories img {
  border: 1px white solid;
  margin-left: 100px;
  margin-top: 50px;
  display: inline;
}
h1 #youtube { 
  display: inline;
  width: 200px;
}
.video {
  width: 640px;
  height: 360px;
}

.navbar{
  z-index: 2;
  position:fixed;
  top:0px;
  width:100%;
}
h3{
  position: absolute;
  color: #fff;
  top:40%;
  left: 25%;
  font-size: 5em;
  text-shadow: 10px, 10px, #FF0000;
}
h5{
  position: absolute;
  bottom: 55%;
  color: #00FFFF;
  left: 25%;
  font-size: 1.5em;
  text-shadow: 10px, 10px, #FF0000;
}
button{
  background-color: black;
  border: 0px;
  outline: 0;
}
.eventsHead {
  color: #00FFFF;
  font-size: 50px;
  letter-spacing: 7px;
  margin-bottom: 100px;
  text-align: center;
}
#categories {
  margin-left: 5%;
}
.eventTitle {
  color: gray;
  font-size: 14px;
}
.eventTitle a {
  color: #FFF;
  font-size: 17px;
}
.col-md-2{
  height:200px;
  margin-bottom: 60px;
}
.col-sm-6{
  height:200px;
}
#results {
  margin-top: 200px;
}

div.border {
  width: 100%;
  margin: 0 auto;
    background-color: transparent;
  z-index: 1;
   
  bottom: 1.4em;
  height: 3em;
    position: absolute;
    
    background-size:contain;
}
#landingFooter{
  width: 100%;
}
.defaultEventImg{
  float: top;
  z-index: -1;
  position:relative;
  top: -110px;
}
#pictureConstrain{
  height:100px;
}
a:hover {
  color: #00FFFF;
  text-decoration: none;
}






/**************
CATEGORIES TEXT
****************/
.rap {
  position: relative;
  display: inline;
}
.rap img {
display: inline;
}
.rap h3 {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
}
.rock {
  position: relative;
  display: inline;
}
.rock img {
display: inline;
}
.rock h3 {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
}
.alt {
  position: relative;
  display: inline;
}
.alt img {
display: inline;
}
.alt h3 {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
}
.country {
  position: relative;
  display: inline;
}
.country img {
display: inline;
}
.country h3 {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
}
.jazz {
  position: relative;
  display: inline;
}
.jazz img {
display: inline;
}
.jazz h3 {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
}
.blues {
  position: relative;
  display: inline;
}
.blues img {
display: inline;
}
.blues h3 {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
}
.classical {
  position: relative;
  display: inline;
}
.classical img {
display: inline;
}
.classical h3 {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
}
.gospel {
  position: relative;
  display: inline;
}
.gospel img {
display: inline;
}
.gospel h3 {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
}
.elect {
  position: relative;
  display: inline;
}
.elect img {
display: inline;
}
.elect h3 {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
}
.urban {
  position: relative;
  display: inline;
}
.urban img {
display: inline;
}
.urban h3 {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
}




