#container {
  width: 1440px;
  font-family: Offside,'Ubuntu Condensed', arial;
  background-color: black;
}
#landing {
  width: 700px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
}
#metro {
  color: #00FFFF;
}

.navbar, form input {
  font-size: 17px;
}
footer {
  color: gray;
  font-size: 15px;
  margin-left: 30px;
}
img {
  width: 110px;
  height: 110px;
  display: block;
}
.displayName {
  color: white;
  display: block;
}
.catHeader {
	color: #00FFFF;
	font-size: 50px;
	margin-top: 2em;
	left:50%;
	letter-spacing: 7px;
  text-align: center;
}
#categories img {
  border: 1px white solid;
  margin-left: 100px;
  margin-top: 50px;
  display: inline;
}
h1 #youtube { 
  display: inline-block;
  width: 5em;
}
#sectionYoutube {
  display: inline-block;

}
#full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}
.navbar{
  z-index: 2;
  position:fixed;
  top:0px;
  width:100%;
}
.embed{
  margin-right: 30px;
}
.play, .pause, .stop{
  margin-top: 12px;
  color: gray;
  width: 15px;
  background-color: #222222;
}
.play:hover, .pause:hover, .stop:hover {
  color: white;
}
.stop {
  margin-right: 30px;
}
h3{
  position: absolute;
  color: #fff;
  top:40%;
  left: 32%;
  font-size: 5em;
  text-shadow: 0px 0px 20px #00FFFF;
}
h5{
  position: absolute;
  bottom: 57%;
  color: #00FFFF;
  left: 32%;
  font-size: 1.5em;
  text-shadow: 0px 0px 10px #000000;
}
button{
  background-color: black;
  border: 0px;
  outline: 0;
}
.eventsHead {
  color: #00FFFF;
  font-size: 50px;
  letter-spacing: 7px;
  margin-bottom: 80px;
  text-align: center;
}
#categories {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 200px;
}
.eventTitle {
  color: gray;
  font-size: 14px;
}
.eventTitle a {
  color: #FFF;
  font-size: 17px;
}
.col-md-2{
  height:200px;
  margin-left: 7%;
  margin-bottom: 60px;
}
.col-sm-6{
  height:200px;
}
#results {
  color: #00FFFF;
  letter-spacing: 7px;
}

div.border {
  width: 100%;
  margin: 0 auto;
    background-color: transparent;
  z-index: 1;
   
  bottom: 1.4em;
  height: 3em;
    position: absolute;
    
    background-size:contain;
}

.defaultEventImg{
  float: top;
  z-index: -1;
  position:relative;
  top: -110px;
}
#pictureConstrain{
  height:100px;
}
a:hover {
  color: #00FFFF;
  text-decoration: none;
}
.playlist{
 
}
#playlistSubmit {
  color: gray;
  border: 1px solid gray;
  background-color: #222222;
}
#playlistSubmit:hover {
  color: white;
  border: 1px solid white;
}
#searchForm {
  margin-bottom: 200px;
}
#upload {
  color: gray;
  font-size: 20px;
  width: 80%;
  margin: 7%;
}
#upload-form {
  margin-top: 40px;
  margin-bottom: 20px;
}
.dropdown-menu {
  background-color: #222222;
  width: 400%;
}
#channel-name {
  color: white;
}
label {
  margin-right: 20px;
}
#channel-thumbnail {
  width: 50%;
  height: 15%;
  margin-bottom: 20px;
}
textarea {
  margin-bottom: 20px;
}
.during-upload {
  margin-top: 40px;
}
ul li .eventLink {
  margin-left: 3px;
  color: lightgray;
  font-size: 19px;
}
ul li .eventLink:hover {
  color: white;
  background-color: #222222;
}
.divider {
  color: #fff;
}
h4 {
  margin-left: 6%;
  color: lightgray;
}
.instansive-widget {
  margin-left: 7.5%;
}
#hashtag {
  margin-left: 10%;
  margin-bottom: 5%;
  color: darkgray;
  font-size: 15px;
  letter-spacing: 3px;
}
.form-control {
  color: #fff;
  background-color: #222222;
  height: 50px;
}
.form-control:hover {
  color: #fff;
  background-color: #222222;
}
.form-control:active {
  color: #fff;
  background-color: #222222;
}
.rap {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
  margin-right: 30px;
}
.rap img {
display: inline;
}

.rock {
   z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
  margin-right: 30px;
}
.rock img {
display: inline;
}

.alt {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
  margin-right: 30px;
}
.alt img {
display: inline;
}

.country {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
  margin-right: 30px;
}
.country img {
display: inline;
}

.jazz {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
  margin-right: 30px;
}
.jazz img {
display: inline;
}

.blues {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
  margin-right: 30px;
}
.blues img {
display: inline;
}

.classical {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
  margin-right: 30px;
}
.classical img {
display: inline;
}

.gospel {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
  margin-right: 30px;
}
.gospel img {
display: inline;
}

.elect {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
  margin-right: 30px;
}
.elect img {
display: inline;
}

.urban {
  z-index: 1;
  opacity: 0;
  position: relative;
  color: white;
  font-size: 15px;
  top: -80px;
  margin-right: 30px;
}
.urban img {
display: inline;
}



















